/**
 * Helpers
 */

/**
 * Add/remove floats
 */
.float-right   { float: right !important; }
.float-left    { float: left  !important; }
.float-none    { float: none  !important; }

/**
 * Text alignment
 */
.text-left     { text-align: left   !important; }
.text-center   { text-align: center !important; }
.text-right    { text-align: right  !important; }

/**
 * Add a help cursor to any element that gives the user extra information on
 * `:hover`.
 */
.help {
  cursor: help !important;
}

/**
 * Mute an object by reducing its opacity.
 */
.is-inactive {
  opacity:0.5!important;
  filter:alpha(opacity = 50)!important;
}

/**
 * Add a right-angled quote to links that imply movement, e.g.:
 *
   <a href=# class=go>Read more</a>
 *
 */
.go:after{
  content:"\00A0" "\00BB"!important;
}

/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
  text-transform:uppercase!important;
}

/**
 * Hide content off-screen without resorting to `display:none;`, also provide
 * breakpoint specific hidden elements.
 */
@mixin invisible {
  border:0!important;
  clip:rect(0 0 0 0)!important;
  height:1px!important;
  margin:-1px!important;
  overflow:hidden!important;
  padding:0!important;
  position: absolute!important;
  width:1px!important;
}
.is-invisible {
  @include invisible;
}

/**
 * Completely hide an element
 */
.is-hidden {
  display: none !important;
}