[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "panel"]
	path = panel
	url = https://github.com/getkirby/panel.git
[submodule "forum"]
	path = forum
	url = https://github.com/getkirby/forum.getkirby.com.git
