@import "../kirby/defaults";
@import "../kirby/generic/mixins";
@import "../ui/vars";

@import "../ui/objects/article-date";
@import "../ui/objects/sidebar";

/** code highlighting */
@import "../ui/vendors/highlight/php";
@import "../ui/vendors/highlight/css";
@import "../ui/vendors/highlight/html";
@import "../ui/vendors/highlight/js";

.main {
  position: relative;
}
.main header {
  padding-bottom: 1em;
  margin-bottom: 1em;
  padding-right: 4em;
  border-bottom: 1px solid $color-ui;
}
.main .body {
  padding-right: 2em;
}


.tags .delta {
  padding-left: 2em;
  border-bottom: 1px solid $color-ui;
  padding-bottom: .5em;
  margin-bottom: .5em;
  padding-top: 2em;
}