@import "../kirby/defaults";
@import "../kirby/generic/mixins";
@import "../ui/vars";

/** code highlighting */
@import "../ui/vendors/highlight/php";
@import "../ui/vendors/highlight/css";
@import "../ui/vendors/highlight/html";
@import "../ui/vendors/highlight/js";


.further-reading {
    margin-top: 3em;
    padding-top: 2em;
    border-top: 2px solid $color-primary;
}
.further-reading h2 {
    color: $color-text;
}