/*
BLOG
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */


/*
 :::  Article overview
-------------------------------------------------- */
.article-list {
  li {
    position: relative;
    border-bottom: $border-light;
    padding: 0 4em 1em 0;
    margin-bottom: 1em;
    list-style: none;
  }
}



/*
 :::  Tag results
-------------------------------------------------- */
.blog {
  h1 {
    padding-bottom: 1em;

    mark {
      background: none;
    }
  }
}


/*
 :::  Article date
-------------------------------------------------- */
.article-date {
  position: absolute;
  top: .59em;
  right: 0;
  text-align: right;
  line-height: 1em;
  font-size: .9em;

  .month {
    color: $color-primary;
    display: block;
    padding-bottom: .025em;
  }
  @media only screen and (max-width : 700px) {
    position: relative;
    display: block;
    text-align: left;
    top: 5px;
    right: auto;

    .month {
      display: inline-block;
      margin-right: 2px;
    }
  }
}



/*
 :::  Article view
-------------------------------------------------- */
.article {
  position: relative;

  header {
    padding-bottom: 1em;
    margin-bottom: 1em;
    padding-right: 4em;
    border-bottom: $border-light;

    @media only screen and (max-width : 700px) {
      padding-right: 0;
    }
  }
  .body {
    padding-right: 2em;
  }
}



/*
 :::  Article tags
-------------------------------------------------- */
.tags {

  .delta {
    border-bottom: $border-light;
    margin-top: 2em;
    padding-bottom: 1em;
    margin-bottom: .5em;
  }
}


