/*
DOWNLOADS
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

.downloads .section {
  border-bottom: none;

  .beta {
    padding-bottom: 0.5em;
  }
}

.download-items {
  border-top: 1px solid $color-ui;

  li {
    position: relative;
    padding: 1.5em 0 1.5em 4em;
    border-bottom: 1px solid $color-ui;

    &:hover img {
      opacity: 0.8;
      border: 3px solid #000;
    }
  }

  .icon {
    left: 0;
    position: absolute;
    top: 1.8em;
    text-align: center;
    max-width: none;
    width: 50px;
    background: #222;
    overflow: hidden;
    border: 0px solid #222;
    transition: all .4s;
  }
  .epsilon {
    font-weight: 300;
    color: $color-text-light;
  }
}
