/*
HOME
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */


.introduction ul {
  font-size: $size-h3;
  font-weight: 300;
  padding-bottom: 0;
  margin-left: -1em;
}

.home .delta {
  text-transform: lowercase;
  letter-spacing: 0;
}



/*
 :::  Sections
-------------------------------------------------- */
.section {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid $color-ui;

  &.last {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .beta {
    padding-bottom: 1em;
  }
}



/*
 :::  Features
-------------------------------------------------- */
.features {
  padding-bottom: 1em;

  .column {
    padding-bottom: 2em;
  }
  .more {
    white-space: nowrap;
  }
}



/*
 :::  Random refs
-------------------------------------------------- */
.home .random-refs {
  padding-bottom: 1em;
}



/*
 :::  Tag results
-------------------------------------------------- */
.latest-posts {
  time {
    font-weight: 300;
    font-size: .9em;
    color: $color-text-light;
  }
}



/*
 :::  Random voices
-------------------------------------------------- */
.random-voices .beta {
  padding-bottom: 1em;
}



/*
 :::  Connect
-------------------------------------------------- */
.connect {
  padding-bottom: 1em;

  li {
    margin-bottom: 2em;

    img {
      margin-bottom: 5px;
    }

    .delta {
      margin-top: 3px;
      transition: color .3s;
    }

    &:hover .delta {
      color: $color-text;
    }
  }
}



