/*
HOME
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */


.introduction ul {
  font-size: $size-h3;
  font-weight: 300;
  padding-bottom: 0;
  margin-left: -1em;
}



/*
 :::  Sections
-------------------------------------------------- */
.section {
  padding-bottom: 3em;
  margin-bottom: 3em;
  border-bottom: 1px solid $color-ui;

  &.last {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .beta {
    padding-bottom: 1em;
  }
}



/*
 :::  Features
-------------------------------------------------- */
.features .column {
  padding-bottom: 2em;
}
.features .more {
  white-space: nowrap;
}



/*
 :::  Random refs
-------------------------------------------------- */
.home .random-refs {
  padding-bottom: 1em;
}



/*
 :::  Tag results
-------------------------------------------------- */
.latest-posts {
  time {
    color: $color-text-light;
  }
}



/*
 :::  Random voices
-------------------------------------------------- */
.random-voices .beta {
  padding-bottom: 1em;
}
