/**
 * Overwrites
 */

$color-primary: red;
$color-background: #fff;
$color-selection-background: red;
$color-selection-text: #fff;
$color-text: #222;
$color-text-light: #777;

$font-family-primary: "source-sans-pro";

/**
 * Custom variables
 */

 $border-light: 1px solid #ddd;
 $border-red: 2px solid $color-primary;
