.subtitle {
  color: $color-text-light;
}
.download-single article .text {
  padding-top: 2em;
  margin-top: 2em;
  border-top: 1px solid #ddd;
}
.download-meta h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.download-meta ul {
  margin: 2em 0;
  padding: 1em 0;
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.download-meta li {
  padding: 0.5em 0;
}
.download-meta li:before {
  content: ' ';
  height: 12px;
  width: 6px;
  display: inline-block;
  margin-right: .5em;
  background-color: $color-primary;
  @include vendor(transition, all .3s);
}
.download-meta li:hover:before {
  background-color: $color-text;
  width: 18px;
}
.download-meta small {
  display: block;
  margin-top: 2em;
  color: $color-text-light;
}
.download-meta small a {
  color: $color-text-light;
}
.download-meta small a:hover {
  color: $color-primary;
}