/*
FOOTER
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */


.site-footer {
  margin-top: 3rem;
  padding: 1em 0 3em;
  font-size: .9em;
  border-top: $border-red;
  @extend .clear;

  a {
    color: $color-primary;

    &:hover {
      color: $color-text;
    }
  }

  p {
    float: left;
  }
}



/*
 :::  Footer navigation
-------------------------------------------------- */
.nav-footer {
  float: right;

  li {
    display: inline-block;
    padding-left: .5em;
    padding-right: .5em;
    border-left: $border-light;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  .made-with {
    color: $color-text;

    &:hover {
      color: $color-primary;
    }
    .love {
      color: $color-primary;
    }
  }
}