/*
MAIN
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

.main .alpha strong {
  position: relative;
  font-size: .7em;
  top: -.05em;
  left: .1em;
  color: $color-primary;
}



/*
 :::  Margin helper
-------------------------------------------------- */
.margin-bottom {
  margin-bottom: 1em;
}