/*
PAGINATION
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */


.pagination {
  position: relative;
  padding-top: 2em;
  @extend .clear;

  li {
    position: relative;
    list-style: none;
    z-index: 1;
  }

  a {
    display: block;
    padding: .5em 1em;
    border: 2px solid $color-ui;
    border-radius: 50px;
    font-size: .9em;
  }

  .prev {
    float: left;
  }
  .next {
    float: right;
  }

  .prev span,
  .next span {
    color: $color-ui;
    font-weight: 300;
    font-size: .9em;
  }

  .count {
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    text-align: center;
    font-size: .9em;
    color: $color-text-light;
    padding: 2px;
    font-weight: 300;
  }
}