/*
SCREENSHOT
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

.screenshot {
  position: relative;

  &:before {
    content: '● ● ●';
    display: block;
    font-size: 18px;
    padding: 2px 10px;
    line-height: 20px;
    color: #999;
    width: 100%;
    background-color: #bbb;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
}