/*
BASE
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

html {
  @media screen and (min-width: 700px) {
    border: .5em solid #eee;
  }
}

body {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1em .7em;
  color: $color-text;
  background-color: #fff;
  font-family: 'Source Sans Pro', helvetica, sans-serif;

  @media screen and (min-width: 700px) {
    padding: 2em;
  }
}

body.grid {
  background: url(../images/grid.png);
}

hr.c {
  width: 100%;
  @extend .clear;
  visibility: hidden;
}
img {
  max-width: 100%;
}