/*
GRID
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

.grid:after {
  content: '';
  display: table;
  clear: both;
}

/* col grid */
[class*='col-'] {
  float: left;
  padding-right: 10%;
}
[class*='col-'].last {
  padding-right: 0;
}
.col-1-6 {
  width: 16.66%;
}
.col-2-6 {
  width: 33.33%;
}
.col-3-6 {
  width: 50%;
}
.col-4-6 {
  width: 66.66%;
}
.col-5-6 {
  width: 83.33%;
}


/* list grid */
[class*='list-'] li {
  float: left;
  position: relative;
  list-style: none;
}
.list-3 li {
  width: 100%;
}
@media screen and (min-width: 36em) and (max-width: 60em) {
  .list-3 li {
    width: 48%;
    margin-right: 4%;
  }
  .list-3 li:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .list-3 li {
    width: 31%;
    margin-right: 3.5%;
  }
  .list-3 li:nth-child(3n+3) {
    margin-right: 0;
  }
}




/* columns */
.columns {
  @extend .clear;
}
.columns .column {
  position: relative;
  list-style: none;
}

@media screen and (min-width: 650px) {

  /* float columns */
  .columns .column {
    float: left;
    margin-right: 4%;
  }
  .columns .column.last {
    margin-right: 0;
  }

  /* widths */
  .columns .column.one {
    width: 13.3333%;
  }
  .columns .column.two {
    width: 30.6666%;
  }
  .columns .column.three {
    width: 47.9999%;
  }
  .columns .column.four {
    width: 65.3333%;
  }
  .columns .column.five {
    width: 82.6666%;
  }
  .columns .column.six {
    width: 100%;
  }

}