.alpha {
  font-weight: 400;
  line-height: 1.25em;
}
.alpha.with-beta {
  padding: 0;
  margin-bottom: -.2em;  
}

.beta {
  font-size: $size-h1;
  line-height: 1.25em;
  color: $color-primary;
  font-weight: 300;
}

.gamma {
  font-weight: 300;
  line-height: 1.25em;
}

.delta {
  font-size: $base-font-size;
  font-weight: 400;
  color: $color-primary;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.beta a:hover,
.delta a:hover {
  color: $color-text;
}

