/*
HEADINGS
--------------------------------------------------
:::::::::::::::::::::::::::::::::::::::::::::::::: */

a {
  color: $color-text;
  text-decoration: none;
  @include vendor(transition, color .3s);

  &:hover {
    color: $color-primary;
  }
}