.autocomplete {
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}
.autocomplete button {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
  padding: .75em 1.2em;
  border-bottom: 1px dashed #ddd;
  color: #000;
  background: none;
  font-family: inherit;
  font-size: 1em;
}
.autocomplete button:last-child {
  border: none;
}
.autocomplete button strong {
  display: block;
}
.autocomplete button small {
  color: #777;
}
.autocomplete button:focus {
  outline: 0;
  color: red;
}
.autocomplete button:focus small {
  color: #000;
}
.autocomplete button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.autocomplete button strong {
}
.autocomplete button:focus strong {
  color: red;
}