/* http://prismjs.com/download.html?themes=prism&languages=markup+css+clike+javascript+php+php-extras */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #666;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	line-height: 1.5;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: 0 0 1.5em;
	overflow: auto;
}



.token.comment {
	color: #267e3d;
}
.token.delimiter {
	color: #e22030;
}
.token.variable,
.token.global {
	color: #926821;
}
.token.tag,
.token.markup,
.token.property,
.token.tag > .token.punctuation,
.token.attr-value > .token.punctuation:first-child,
.token.keyword {
	color: #9d2760;
}
.token.string {
	color: #f28630;
}
.token.punctuation,
.token.selector,
.token.class-name {
	color: #000;
}
.token.operator,
.token.scope,
.token.function {
	color: #004678;
}
.token.attr-name {
	color: #AC571D;
}
.token.attr-value,
.token.number {
	color: #2437ad;
}
.token.attr-value > .token.punctuation {
	color: #2437ad;
}
code.language-css {
	color: #ae5715;
}
