/***************************************************

****** getkirby.com ******

*** Author: Bastian Allgeier GmbH

****************************************************/


/*
 :::  Reset
-------------------------------------------------- */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, nav, section, summary {
  display: block;
}
ol, ul {
  list-style: none;
}



/*
 :::  Base
-------------------------------------------------- */
html {
  font-size: 100%;
  min-height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media screen and (min-width: 47em) {
  html {
    border: .5em solid #eee;
  }
}
body {
  background: #fff;
  color: #222;
  line-height: 1;
  font-family: 'Source Sans Pro', helvetica, sans-serif;
}



/*
 :::  Site wrapper
-------------------------------------------------- */
.site {
  position: relative;
  margin: 0 auto;
  padding: 1em .7em;
  max-width: 1100px;
}
@media screen and (min-width: 47em) {
  .site {
    padding: 2em;
  }
}



/*
 :::  Main
-------------------------------------------------- */
main:after {
  content: '';
  display: table;
  clear: both;
}



/*
 :::  Images
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
}
.text figure {
  display: block;
  margin-bottom: 1.5em;
}
.text figure figcaption {
  display: block;
  margin-top: 8px;
  margin-bottom: -8px;
  color: #999;
  font-size: .9em;
}
.text .img-left {
  float: left;
  margin-top: 0;
  margin-right: 1.5em;
  margin-bottom: 1em;
}
.text .img-right {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1em;
  margin-top: 0;
}



/*
 :::  Links
-------------------------------------------------- */
a {
  color: #222;
  text-decoration: none;
  -webkit-transition: background .3s, color .3s, opacity .3s, border-color .3s;
  transition: background .3s, color .3s, opacity .3s, border-color .3s;
}
a:hover {
  color: red;
}
.text a {
  font-weight: inherit;
  border-bottom: 2px solid #ddd;
  word-wrap: break-word;
}
.text a:hover {
  border-color: #222;
}



/*
 :::  Text
-------------------------------------------------- */
.text {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.5em;
  font-weight: 400;
}



/*
 :::  Paragraphs
-------------------------------------------------- */
p {
  line-height: 1.5em;
}
.text p {
  margin-bottom: 1.5em;
}
.text.smaller p {
  font-size: 16px;
  font-size: 1rem;
}



/*
 :::  Unordered Lists
-------------------------------------------------- */
.text ul {
  margin-bottom: 1.5em;
  margin-left: 1.25em;
  list-style: disc;
}
.text ul ul,
.text ul ol {
  margin-bottom: 0;
}



/*
 :::  Ordered Lists
-------------------------------------------------- */
.text ol {
  margin-bottom: 1.5em;
  margin-left: 1.25em;
  list-style: decimal;
}
.text ol ul,
.text ol ol {
  margin-bottom: 0;
}



/*
 :::  Description lists
-------------------------------------------------- */
.text dl {
  margin-bottom: 1.5em;
}
.text dt {
  margin-top: 1.25em;
  margin-bottom: .25em;
  font-size: 1.3rem;
  font-weight: 400;
  color: red;
}



/*
 :::  Blockquotes
-------------------------------------------------- */
.text blockquote {
  margin-bottom: 1.5em;
  padding-top: .5em;
  padding-left: 1em;
  padding-bottom: .5em;
  border-left: 5px solid #ddd;
  font-style: italic;
}
.text blockquote p:last-of-type {
  margin-bottom: 0;
}



/*
 :::  Code
-------------------------------------------------- */
code, pre {
  font-family: 'Source Code Pro', 'Courier', monospace;
  font-size: 14px;
  font-size: .9rem;
}
.text p code {
  background: #eee;
  padding: 0 5px;
  border-radius: 3px;
}
.text pre {
  position: relative;
  display: block;
  margin-bottom: 3em;
  padding: 2em;
  overflow: auto;
  background: #f5f5f5;
  line-height: 1.5em;
}



/*
 :::  Horizontal rules
-------------------------------------------------- */
.text hr {
  background: #ddd;
  height: 1px;
  border: 0;
  margin: 2em 0;
}



/*
 :::  Headings
-------------------------------------------------- */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
.alpha,
.text h1 {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1.25em;
}
.text h1 {
  margin: 0 0 .5em 0;
}
.beta,
.text h2 {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1.25em;
  color: red;
}
.text h2 {
  margin: 0 0 .5em 0;
}
.gamma,
.text h3 {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5em;
}
.text h3 {
  margin: 0 0 .5em 0;
}
.delta,
.text h4 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5em;
  color: red;
}
.text h4 {
  margin: 0 0 .5em 0;
}
.epsilon,
.text h5 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5em;
}
.zeta,
.text h6 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5em;
  color: red;
}
.text h5,
.text h6 {
  margin: 0 0 .5em 0;
}



/*
 :::  Header
-------------------------------------------------- */
.site-header {
  position: relative;
  margin-bottom: 1.5em;
  border-bottom: 2px solid red;
}
@media only screen and (max-width: 47em) {
  .site-header {
    overflow: hidden;
  }
}
.logo {
  display: inline-block;
  position: relative;
  padding: .5em 0 .5em 2em;
  font-size: 2em;
  z-index: 999;
  text-transform: lowercase;
  background: url(../images/kirbyicon.png) no-repeat left center;
}
.logo:hover {
  color: inherit;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .logo {
    background-image: url(../images/kirbyicon@2x.png);
    background-size: 45px 51px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .logo {
    background-image: url(../images/kirbyicon@3x.png);
    background-size: 45px 51px;
  }
}



/*
 :::  Sites navigation
-------------------------------------------------- */
.sites-nav-wrap {
  position: relative;
  padding-bottom: 3em;
}
.sites-nav-open {
  display: block;
  text-align: right;
  padding-bottom: .5em;
}
.sites-nav-open:hover {
  color: #666;
}
.sites-nav ul {
  position: relative;
}
.sites-nav-close {
  display: none;
}
.sites-nav-close:hover {
  color: transparent;
}
@media only screen and (min-width: 47em) {
  .sites-nav-wrap {
    position: absolute;
    top: 0;
    right: 2em;
  }
  .sites-nav {
    position: absolute;
    padding-top: 3.5em;
    top: -12em;
    right: -4.5em;
    z-index: 999;
    opacity: 0;
    transform: scale(0);
    transition: all .4s ease-out;
  }

  /* sites-nav open */
  .sites-nav-open {
    display: inline-block;
    position: absolute;
    padding: .5em 2em .5em 1em;
    z-index: 999;
    top: 0em;
    right: 0em;
    font-size: .9em;
    white-space: nowrap;
    background-color: #eee;
    color: #666;
  }
  .sites-nav-open:after {
    position: absolute;
    content: '';
    right: .75em;
    top: 1.05em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
  }

  /* sites-nav close */
  .sites-nav-close {
    display: inline-block;
    position: absolute;
    padding: .5em 2em .5em 1em;
    top: 0;
    right: 0;
    width: 123px;
    color: transparent;
  }

  /* the magic */
  #sites-nav:target {
    opacity: 1;
    top: 0em;
    right: 0;
    transform: scale(1);
  }
}



/*
 :::  Navigation basic pattern
-------------------------------------------------- */
.nav li a {
  display: block;
  padding: 1em 0;
  border-top: 1px solid #ddd;
}
.nav > li > a:hover,
.nav > li.is-active > a {
  color: red;
}
@media screen and (min-width: 47em) {
  .nav {
    float: left;
  }
  .nav li {
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 2em;
  }
  .nav li:last-child {
    margin-right: 0;
  }
  .nav li a {
    border-top: none;
  }
  .nav-main .nav-right,
  .nav-right {
    float: right;
  }
}



/*
 :::  Navigation dropdown pattern
-------------------------------------------------- */
.dropdown {
  z-index: 999;
}
.dropdown li {
  width: 100%;
}
.dropdown li a {
  padding: 1em 2em;
  display: block;
  font-weight: 400;
  font-size: .9em;
  border-top: .1em solid #444;
  white-space: nowrap;
  background: #222;
  color: #eee;
}
.dropdown li a:hover {
  color: #fff;
  background: #333;
}
.dropdown li.is-active a {
  color: #666;
  cursor: default;
}
.dropdown li.is-active a:hover {
  background-color: #222;
}

/* Dropdown arrow */
.dropdown:before {
  position: absolute;
  content: "";
  top: -8px;
  z-index: -1;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.dropdown.arrow-left:before {
  left: 0;
  border-left: 10px solid #222;
}
.dropdown.arrow-right:before {
  right: 0;
  border-right: 10px solid #222;
}



/*
 :::  Main navigation
-------------------------------------------------- */
.nav-main {
  padding-top: 2em;
}
.nav-main a {
  font-weight: 600;
}


@media screen and (min-width: 47em) {

  /* Nav right */
  .nav-main .nav-right li:after {
    position: absolute;
    content: "\203A";
    top: .5em;
    right: -.75em;
    color: #bbb;
    font-size: 24px;
    font-weight: 200;
  }
  .nav-main .nav-right li:last-child:after {
    display: none;
  }


  /* Has dropdown arrow */
  .nav > li.has-dropdown > a {
    padding-right: 1em;
  }
  .nav > li.has-dropdown > a:after {
    position: absolute;
    content: "";
    right: 0;
    top: 1.4em;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #999;
  }
  .nav > li.has-dropdown:hover > a:after {
    border-top-color: #222;
  }


  /* Display dropdown */
  .nav > li:hover .dropdown {
    display: block;
  }
  .dropdown {
    position: absolute;
    left: 0;
  }


  /* Mobile nav trigger */
  .nav-open,
  .nav-main .nav-close {
    display: none;
  }
}


/* dropdown */
.nav-main .dropdown {
  display: none;
}


/* nav open button */
.nav-open {
  position: absolute;
  z-index: 999;
  top: -3px;
  right: 0;
}
.nav-open:after {
  content: '\2261';
  position: relative;
  top: 7px;
  margin-left: 10px;
  font-size: 3em;
}


/* nav close button */
.nav-main .nav-close {
  float: right;
  margin-bottom: 1em;
}


/* Mobile behavior */
@media screen and (max-width: 47em) {
  .is-active .dropdown {
    position: relative;
    display: block;
    left: 0;
  }
  .nav-main {
    position: relative;
    padding-top: 1em;
    background-color: #fff;
  }
  .nav-main li {
    width: 100%;
    height: 0;
    opacity: 0;
    transition: height .3s, opacity .3s;
  }

  /* the fancy magic */
  .nav-main:target {
    padding-top: 95px;
    margin-top: -80px;
  }
  .nav-main:target li {
    height: auto;
    opacity: 1;
  }
  .nav-main:not(:target) .nav-close {
    display: none;
  }


  /* Hidden items on mobile */
  .is-hidden-on-mobile {
    display: none;
  }
}



/*
 :::  Breadcrumb [docs]
-------------------------------------------------- */
.breadcrumb {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
.breadcrumb li {
  display: inline-block;
  margin-right: 2em;
}
.breadcrumb a {
  display: block;
  position: relative;
  padding: .75em 0;
  font-weight: 600;
}
.breadcrumb a:after {
  content: "›";
  position: absolute;
  top: .3em;
  right: -.75em;
  font-size: 1.5em;
  font-weight: 300;
  color: #999;
}
.breadcrumb .is-active a:after {
  display: none;
}



/*
 :::  Submenu [docs]
-------------------------------------------------- */
.submenu a {
  display: block;
  padding: .75em .5em .75em 0;
  border-bottom: 1px solid #ddd;
}
.submenu a:hover,
.submenu .is-active {
  color: red;
}
.submenu ul ul a {
  padding-left: 1.25em;
}
.submenu ul ul ul a {
  padding-left: 2.5em;
  color: #777;
}
.submenu ul ul ul ul a {
  padding-left: 3.75em;
  background: #f5f5f5;
}
.submenu > ul > li > a {
  font-weight: 600;
}



/*
 :::  Footer
-------------------------------------------------- */
.site-footer {
  margin-top: 3rem;
  padding: 0 0 3em 0;
  font-size: 0.9em;
  border-top: 2px solid red;
}
.site-footer p {
  padding: 1em 0;
  line-height: 1em;
}
@media screen and (min-width: 47em) {
  .site-footer p {
    float: left;
  }
}



/*
 :::  Buttons
-------------------------------------------------- */
[class*='btn'] {
  display: inline-block;
  padding: .5em 1.5em;
  font-size: 1em;
  font-weight: 600;
  border-width: 2px;
  border-style: solid;
  border-radius: 5em;
  border-color: #222;
  background-color: transparent;
  color: #222;
  cursor: pointer;
  transition: background-color .3s, color .3s, border-color .3s;
}
[class*='btn']:hover,
[class*='btn']:focus {
  background-color: #222;
  color: #fff;
}

/* red buttons */
[class*='btn-red'] {
  border-color: red;
  color: red;
}
[class*='btn-red']:hover,
[class*='btn-red']:focus {
  background-color: red;
  color: #fff;
}

/* white buttons */
[class*='btn-white'] {
  border-color: white;
  color: white;
}
[class*='btn-white']:hover,
[class*='btn-white']:focus {
  background-color: white;
  color: #222;
}

/* hero buttons */
[class*='hero-btn'] {
  display: inline-block;
  font-size: 1.2em;
  margin-bottom: 2rem;
}
.hero-btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.hero-btn-red {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}



/*
 :::  Pagination
-------------------------------------------------- */
.pagination {
  position: relative;
  padding-top: 2em;
}
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}



/*
 :::  Reference list
-------------------------------------------------- */
.reference-list li {
  position: relative;
  margin-bottom: 4em;
}
.reference-list p {
  color: red;
  transition: color .3s;
}
.reference-list li:hover p {
  color: #222;
}
.reference-list .gamma {
  margin-bottom: -.25em;
  transition: color .3s;
}
.reference-list li:hover .gamma {
  color: red;
}
.reference-list a {
  display: block;
}
.reference-list .screen-wrap {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}
.reference-list .screen-refl {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,.9);
  transition: all .3s;
}
.reference-list .screen-wrap:hover .screen-refl {
  opacity: 1;
}
.reference-list .btn-white {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transition: all .3s;
  -webkit-transform: translate(-50%,-150%);
  transform: translate(-50%,-150%);
}
.reference-list .screen-wrap:hover .btn-white {
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.reference-list img {
  display: block;
  width: 100%;
  transition: all .3s;
}
.reference-list .screen-wrap:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/*
 :::  Screenshots
-------------------------------------------------- */
.screenshot {
  position: relative;
  display: inline-block;
}
.screenshot:before {
  content: '● ● ●';
  display: block;
  font-size: 18px;
  padding: 2px 10px;
  line-height: 20px;
  color: #999;
  width: 100%;
  text-align: left;
  background-color: #bbb;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.screenshot img {
  width: 100%;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  transition: all .5s;
}



/*
 :::  Reflection
-------------------------------------------------- */
.screen-refl:before {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: -moz-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: -o-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: linear-gradient(to 210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
}



/*
 :::  Voices
-------------------------------------------------- */
.voice-list li {
  border-left: 5px solid #ddd;
  padding-left: 1em;
  margin-bottom: 4em;
}
.voice-list .gamma {
  margin-top: -.2em;
  margin-bottom: -.3em;
  transition: color .3s;
}
.voice-list a:hover .zeta {
  color: #222;
}
.voice-list .zeta {
  color: red;
  transition: color .3s;
}
.voice-list blockquote {
  padding-top: 1em;
  clear: both;
}
.avatar {
  float: left;
  margin-right: 1em;
  border-radius: 50%;
  width: 3.2em;
  height: 3.2em;
  padding: 2px;
  border: 2px solid #ddd;
  transition: border-color .3s;
}
.voice-list a:hover .avatar {
  border-color: #222;
}



/*
 :::  Answers
-------------------------------------------------- */
.answers section {
  padding-bottom: 3em;
}
.answers .alpha {
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding-bottom: .25em;
}
.answer {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}
.answer .zeta {
  position: relative;
  cursor: pointer;
}
.answer .zeta a {
  display: block;
}
.answer .zeta:after {
  position: absolute;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #999;
  right: 0;
  top: .5em;
}
.answer .inner {
  padding-top: 1em;
  border-top: 1px dotted #ddd;
  margin-top: 1em;
}
.questions {
  margin-top: 5em;
}
.questions .alpha {
  border-bottom: 1px solid #ddd;
  padding-bottom: .25em;
}
.questions .body {
  padding-top: 1em;
}



/*
 :::  Article overview
-------------------------------------------------- */
.article-list li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 0 4em 1em 0;
  margin-bottom: 1em;
}



/*
 :::  Tag results
-------------------------------------------------- */
.blog h1 {
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #ddd;
}
.blog h1 mark {
  background: none;
}



/*
 :::  Article date
-------------------------------------------------- */
.article-date {
  position: relative;
  display: block;
  top: 5px;
  right: auto;
}
.article-date .month {
  color: red;
}
@media only screen and (min-width : 47em) {
  .article-date {
    position: absolute;
    top: .5em;
    right: 0;
    text-align: right;
  }
  .article-date .month {
    display: block;
    padding-bottom: .025em;
  }
}



/*
 :::  Article view
-------------------------------------------------- */
.blogarticle article {
  position: relative;
}
.blogarticle .article-body {
  margin-bottom: 5em;
}
.blogarticle article header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
@media only screen and (min-width : 47em) {
  .blogarticle article header {
    padding-right: 4em;
  }
}



/*
 :::  Article sidebar
-------------------------------------------------- */
.sidebar li {
  padding: 0 0 .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #ddd;
  list-style: none;
  line-height: 1.5em;
}
.sidebar a {
  position: relative;
  display: block;
  padding-left: 2em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.sidebar small {
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  text-align: left;
  color: red;
}



/*
 :::  Article tags
-------------------------------------------------- */
.tags .delta {
  border-bottom: 1px solid #ddd;
  margin-top: 2em;
  padding-bottom: 1em;
  margin-bottom: .5em;
}



/*
 :::  Docs
-------------------------------------------------- */
.further-reading {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 2px solid #ddd;
}



/*
 :::  Downloads
-------------------------------------------------- */
.downloads .section {
  padding-bottom: 2em;
  border-bottom: none;
}
.download-list {
  border-top: 1px solid #ddd;
}
.download-list li {
  position: relative;
  padding: 1.5em 0 1.5em 5em;
  border-bottom: 1px solid #ddd;
}
.download-list li .icon {
  position: absolute;
  top: 1.8em;
  left: 0;
  width: 60px;
  text-align: center;
  transition: all .4s;
}
.download-list li:hover .icon {
  opacity: 0.8;
  border: 3px solid #000;
}
.download-list p {
  font-weight: 300;
  color: #999;
}



/*
 :::  Downloads single view
-------------------------------------------------- */
.subtitle {
  color: #999;
}
.download article .text {
  padding-top: 2em;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
.download-meta h2 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.download img {
  margin-top: 2em;
}
.download-meta ul {
  margin: 20px 0;
  padding: 1em 0;
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.download-meta li {
  padding: 0.5em 0;
}
.download-meta li:before {
  content: '';
  height: 12px;
  width: 6px;
  display: inline-block;
  margin-right: .5em;
  background-color: red;
  transition: all .5s;
}
.download-meta li:hover:before {
  background-color: #222;
  width: 18px;
}
.download-meta small {
  display: block;
  margin-top: 2em;
  color: #999;
}
.download-meta small a {
  color: #999;
}
.download-meta small a:hover {
  color: red;
}



/*
 :::  History
-------------------------------------------------- */
.milestones {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px solid #ddd;
}
.milestones-list {
  position: relative;
  margin-top: 5em;
  padding-top: 1em;
}

/* vertical timeline */
.milestones-list:before {
  content: '';
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100%;
  left: 50px;
  width: 10px;
  border-radius: 3px;
  background: red;
  border-left: 3px solid #ddd;
  border-right: 3px solid #ddd;
  box-shadow: inset 0 0 0 1px #fff;
}
@media screen and (min-width: 50em) {
  .milestones-list:before {
    left: 50%;
    margin-left: -5px;
  }
}

/* milestone item */
.milestones-list div {
  padding: 1em 0;
  background-color: #fff;
}
.milestones-list li {
  position: relative;
  margin-bottom: 3em;
  width: 100%;
}
@media screen and (min-width: 50em) {
  .milestones-list li {
    width: 50%;
  }
  .milestones-list li:nth-child(odd) {
    float: left;
    margin-right: 50%;
    padding-right: 10%;
    text-align: right;
  }
  .milestones-list li:nth-child(even) {
    float: right;
    margin-left: 50%;
    padding-left: 10%;
    text-align: left;
  }
}

/* timestamp */
.milestones-list time {
  display: inline-block;
  padding: 1em 0;
  text-align: center;
  width: 110px;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  border-radius: 5em;
  background-color: #222;
}
@media screen and (min-width: 50em) {
  .milestones-list time {
    position: absolute;
    top: .75em;
    right: -55px;
  }
  .milestones-list li:nth-child(even) time {
    right: auto;
    left: -55px;
  }
}

/* milestone description */
.milestones-list p {
  color: #999;
}
.milestones-list p:last-of-type {
  margin-bottom: 0;
}


/*
 :::  Changelog
-------------------------------------------------- */
.changelog time {
  color: #999;
  display: block;
  margin-bottom: .5em;
}


/*
 :::  Sections
-------------------------------------------------- */
.section {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.section.last {
  margin-bottom: 0;
  border-bottom: 0;
}
.section .beta {
  padding-bottom: 1em;
}
.read-more {
  color: red;
  white-space: nowrap;
}
.read-more:hover {
  color: #222;
}



/*
 :::  Home: Slider
-------------------------------------------------- */
.slider {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.slider li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}
.slider img {
  width: 100%;
}
.panel {
  padding-bottom: 3em;
}



/*
 :::  Home: Intro
-------------------------------------------------- */
.intro {
  padding-top: 1em;
  padding-bottom: 3em;
}
.slider-intro {
  margin: 0 auto;
  max-width: 310px;
}
.slider-intro img {
  border-radius: 50%;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 0 0 10px #fff;
}
@media screen and (min-width: 40em) {
  .slider-intro {
    position: absolute;
  }
}



/*
 :::  Home: Features
-------------------------------------------------- */
.features .more {
  white-space: nowrap;
}
.feature-list li {
  margin-bottom: 2em;
}
.feature-list img {
  margin-bottom: 1em;
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
}



/*
 :::  Home: Latest posts
-------------------------------------------------- */
.latest-posts li {
  margin-bottom: 3em;
}
.latest-posts time {
  font-weight: 300;
  font-size: .9em;
  color: #999;
}
.latest-posts .gamma {
  margin-bottom: .5em;
}



/*
 :::  Home: Featured on
-------------------------------------------------- */
.featured-on-list li {
  margin-bottom: 3em;
}
.featured-on-list li:hover {
  opacity: .7;
}



/*
 :::  Home: Connect
-------------------------------------------------- */
.connect {
  padding-bottom: 1em;
}
.connect li {
  margin-bottom: 2em;
}
.connect img {
  margin-bottom: 1em;
  max-height: 200px;
  opacity: 0.8;
}
.connect .zeta {
  transition: color .3s;
}
.connect li:hover .zeta {
  color: #222;
}



/*
 :::  Try → process
-------------------------------------------------- */
.try-process {
  margin-top: 50px;
}
.try-process p {
  padding: 1em 0;
}
.try-process h2 {
  position: relative;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
}
.try-process h2:after {
  content: '→';
  position: absolute;
  right: 0;
  font-weight: 400;
  color: #999;
}
.try-process li:last-child h2:after {
  content: '!';
}



/*
 :::  Col Grid
-------------------------------------------------- */
.grid:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (min-width: 50em) {
  [class*='col-'] {
    float: left;
    width: 100%;
    padding-right: 5%;
    position: relative;
  }
  [class*='col-'].last {
    padding-right: 0;
    float: right;
  }
  .col-1-6 {
    width: 16.66%;
  }
  .col-2-6 {
    width: 33.33%;
  }
  .col-3-6 {
    width: 50%;
  }
  .col-4-6 {
    width: 66.66%;
  }
  .col-5-6 {
    width: 83.33%;
  }
}



/*
 :::  List Grid
-------------------------------------------------- */
[class*='list-']:after {
  content: '';
  display: table;
  clear: both;
}
[class*='list-'] li {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 100%;
}

/* 2 items in a row */
@media screen and (min-width: 36em) {
  .list-2 li {
    width: 47%;
    margin-right: 6%;
  }
  .list-2 li:nth-child(even) {
    margin-right: 0;
  }
}

/* 3 items in a row */
@media screen and (min-width: 36em) and (max-width: 60em) {
  .list-3 li {
    width: 47%;
    margin-right: 6%;
  }
  .list-3 li:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .list-3 li {
    width: 31%;
    margin-right: 3.5%;
  }
  .list-3 li:nth-child(3n+3) {
    margin-right: 0;
  }
}

/* 4 items in a row */
@media screen and (min-width: 36em) and (max-width: 60em) {
  .list-4 li {
    width: 47%;
    margin-right: 6%;
  }
  .list-4 li:nth-child(even) {
    margin-right: 0;
  }
}
@media screen and (min-width: 60em) {
  .list-4 li {
    width: 22%;
    margin-right: 4%;
  }
  .list-4 li:nth-child(4n+4) {
    margin-right: 0;
  }
}



/*
 :::  Clearfix [cf]
-------------------------------------------------- */
.cf:after {
  content: '';
  display: table;
  clear: both;
}



/*
 :::  Visually hidden [vh]
-------------------------------------------------- */
.vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



/*
 :::  Completely hidden [ch]
-------------------------------------------------- */
.ch {
  display: none;
}



/*
 :::  Completely hidden [ch]
-------------------------------------------------- */
.truncate {
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}



/*
 :::  Helpers
-------------------------------------------------- */
.margin-bottom {
  margin-bottom: 1em;
}
.center {
  text-align: center;
}
hr {
  display: block;
  height: 2px;
  background-color: #ddd;
}



/*
 :::  Kirby ♥
-------------------------------------------------- */
.red {
  color: red;
}



/*
 :::  Browserupdate
-------------------------------------------------- */
.browserupdate {
  display: block;
  margin-bottom: 3em;
  padding: 2em;
  color: #fff;
  text-align: center;
  background-color: red;
}
.browserupdate a {
  color: #fff;
  text-decoration: underline;
}



/*
 :::  Error page
-------------------------------------------------- */
.error .wrap {
  position: absolute;
  padding: 1.5em;
  top: 50%;
  left: 50%;
  border: 2px dashed #ddd;
  min-width: 16em;
  text-align: center;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background-image: -webkit-repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(180,180,180,.1) 10px, rgba(180,180,180,.1) 30px);
  background-image: repeating-linear-gradient(135deg, transparent, transparent 10px, rgba(180,180,180,.1) 10px, rgba(180,180,180,.1) 30px);
}
.error header {
  margin-bottom: 1.5em;
  padding-bottom: 1em;
}
.error .btn {
  display: inline-block;
  background-color: #fff;
  margin-top: 1em;
}
.error .btn:hover {
  background-color: #222;
}


/* border-animation */
.border-animation {
  -webkit-animation: border-animation 1s 1s infinite ease-in-out normal both;
  animation: border-animation 1s 1s infinite ease-in-out normal both;
}
@-webkit-keyframes border-animation {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
}
@keyframes border-animation {
  0% {
    border-color: #ddd;
  }
  50% {
    border-color: #999;
  }
}
