/***************************************************

****** getkirby.com ******

*** Author: Bastian Allgeier GmbH

****************************************************/



/*
 :::  Intro [Home]
-------------------------------------------------- */
body.home {
  background-image: none;
}
.home .logo {
  color: #fff;
  background: url(../images/kirbyicon-white.svg) no-repeat left top;
  background-size: 1.25em;
}
.home .site-header {
  color: #fff;
  background: #212020 url(../images/pattern-black.png) repeat-x right top;
  background-attachment: fixed
}
.home .menu a {
  color: #fff;
}
.home .menu a:hover {
  color: red;
}
/**
  Menu borders
*/
.home .menu,
.home .menu a,
.home .menu-left li:nth-child(odd) {
  border-color: #444;
}



/*
 :::  Slider [Home]
-------------------------------------------------- */
.slider {
  position: relative;
  margin: 1.5em auto;
  padding: 1.5em 0;
}
.slider-track {
  position: relative;
  padding-bottom: 66.66%;
}
.slider figure {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 0;
  width: 65%;
  box-shadow: rgba(0,0,0, .5) 0 5px 10px;
  z-index: 1;
  line-height: 0;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.slider figure img {
  width: 100%;
  height: auto;
}
figure.slider-index-left,
figure.slider-index-right {
  opacity: .7;
  -webkit-filter: blur(2px);
  filter: blur(2px);
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
figure.slider-index-left {
  left: 0;
}
figure.slider-index-right {
  right: 0;
  left: auto;
}
figure.slider-index {
  opacity: 1;
  z-index: 2;
  width: 95%;
  box-shadow: rgba(0,0,0, .7) 0 5px 30px;
}

.slider-nav a {
  position: absolute;
  top: 50%;
  z-index: 2;
  margin-top: -1em;
  text-decoration: none;
  color: #fff;
  width: 2em;
  height: 2em;
  background: rgba(0,0,0, .7);
  border-radius: 50%;
  text-align: center;
  font-family: "Helvetica Neue";
  font-weight: 100;
  z-index: 2;
}
.slider-nav span {
  font-size: 2.5em;
  line-height: .65em;
  color: #ccc;
}
.slider-prev {
  left: -1em;
}
.slider-next {
  right: -1em;
}
@media screen and (min-width: 50em) {
  .slider-prev {
    left: 1em;
  }
  .slider-next {
    right: 1em;
  }
  figure.slider-index {
    width: 85%;
  }
}



/*
 :::  Intro
-------------------------------------------------- */
.intro {
  position: relative;
  padding-bottom: 1.5em;
  text-align: center;
}
.intro .beta {
  color: #999;
}
.intro .btn-white {
  border-radius: 0;
  margin-top: 1.5em;
  padding: .75em 3.5em .75em 1.5em;
  font-weight: 400;
  font-size: 1.5em;
  position: relative;
}
.intro .btn-white:after,
.intro .btn-white:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  right: 15%;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: 30px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: opacity .3s ease-out;
}
.intro .btn-white:after {
  background-image: url(../images/download.svg);
}
.intro .btn-white:before {
  background-image: url(../images/download-dark.svg);
  opacity: 0;
}
.intro .btn-white:hover:after {
  opacity: 0;
}
.intro .btn-white:hover:before {
  opacity: 1;
}
@media screen and (min-width: 35em) {
  .intro {
    padding-right: 20em;
    text-align: left;
    padding-bottom: 0;
  }
  .intro .btn-white {
    position: absolute;
    bottom: .4em;
    right: 0;
  }
}



/*
 :::  Features [Home]
-------------------------------------------------- */
.features .more {
  white-space: nowrap;
}
.feature-list li {
  margin-bottom: 2em;
}
.feature-list img {
  padding: 5px;
  width: 100%;
  border: 1px solid #ddd;
  -webkit-transition: opacity .5s, border-color .5s;
  transition: opacity .5s, border-color .5s;
}
.feature-list img:hover {
  opacity: .7;
  border-color: #888;
}



/*
 :::  Latest posts [Home]
-------------------------------------------------- */
.latest-posts li {
  margin-bottom: 3em;
}
.latest-posts time {
  font-size: .8em;
  color: #999;
}
.latest-posts .gamma {
  padding-top: 0;
}



/*
 :::  Featured on [Home]
-------------------------------------------------- */
.featured-on-list li {
  margin-bottom: 3em;
  transition: opacity .3s;
}
.featured-on-list li:hover {
  opacity: .8;
}



/*
 :::  Connect [Home]
-------------------------------------------------- */
.connect {
  padding-bottom: 1em;
}
.connect img {
  float: left;
  width: 3.5em;
  height: 3.5em;
  margin-right: 8%;
  margin-bottom: 1em;
  margin-top: .25em;
}
.connect .zeta {
  transition: color .3s;
}
.connect li:hover .zeta {
  color: #222;
}
@media screen and (max-width: 36em) {
  .connect li {
    margin-bottom: 2em;
  }
}



/*
 :::  Voices
-------------------------------------------------- */
.voice-list li {
  border-left: 5px solid #ddd;
  padding-left: 1em;
  margin-bottom: 4em;
}
.voice-list .gamma {
  margin-top: -.2em;
  margin-bottom: -.3em;
  transition: color .3s;
}
.voice-list a:hover .zeta {
  color: #222;
}
.voice-list .zeta {
  color: red;
  transition: color .3s;
}
.voice-list blockquote {
  padding-top: 1em;
  clear: both;
}
.avatar {
  float: left;
  margin-right: 1em;
  border-radius: 50%;
  width: 3.2em;
  height: 3.2em;
  padding: 2px;
  border: 2px solid #ddd;
  transition: border-color .3s;
}
.voice-list a:hover .avatar {
  border-color: #222;
}



/*
 :::  Reference list
-------------------------------------------------- */
.reference-list li {
  position: relative;
  margin-bottom: 4em;
}
.reference-list p {
  color: red;
  transition: color .3s;
}
.reference-list li:hover p {
  color: #222;
}
.reference-list .gamma {
  margin-bottom: -.25em;
  transition: color .3s;
}
.reference-list li:hover .gamma {
  color: red;
}
.reference-list a {
  display: block;
}
.reference-list .screen-wrap {
  overflow: hidden;
  position: relative;
  margin-bottom: 1em;
}
.reference-list .screen-refl {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0,0,0,.9);
  transition: all .3s;
}
.reference-list .screen-wrap:hover .screen-refl {
  opacity: 1;
}
.reference-list .btn-white {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  transition: all .3s;
  -webkit-transform: translate(-50%,-150%);
  -ms-transform: translate(-50%,-150%);
  transform: translate(-50%,-150%);
}
.reference-list .screen-wrap:hover .btn-white {
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.reference-list img {
  display: block;
  width: 100%;
  transition: all .3s;
}
.reference-list .screen-wrap:hover img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}



/*
 :::  Screenshots
-------------------------------------------------- */
.screenshot {
  position: relative;
  display: inline-block;
}
.screenshot:before {
  content: '● ● ●';
  display: block;
  font-size: 18px;
  padding: 2px 10px;
  line-height: 20px;
  color: #999;
  width: 100%;
  text-align: left;
  background-color: #bbb;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.screenshot img {
  width: 100%;
  border-left: 2px solid #bbb;
  border-right: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
  transition: all .5s;
}



/*
 :::  Reflection
-------------------------------------------------- */
.screen-refl:before {
  content: '';
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: -moz-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: -o-linear-gradient(210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
  background-image: linear-gradient(to 210deg, rgba(222,222,222,0.05) 35%,  transparent 35%);
}



/*
 :::  Support
-------------------------------------------------- */
.support-items {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.support-items li {
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}
.support-items img {
  width: 120px;
  height: 120px;
  padding: .5em;
  margin-bottom: 1em;
  opacity: .3;
}



/*
 :::  Answers
-------------------------------------------------- */
@media only screen and (min-width : 45em) {
  .answers .columns {
    padding-bottom: 3em;
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-rule: 1px solid #ddd;
    -moz-column-rule: 1px solid #ddd;
    column-rule: 1px solid #ddd;
  }
}
.answers header {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.answers header img {
  display: inline-block;
  position: relative;
  top: .5em;
  margin-right: .5em;
  width: 40px;
  opacity: .3;
}
.answers header h2 {
  display: inline-block;
}
.answer {
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
  -webkit-column-break-inside: avoid;
  -moz-break-inside: avoid;
  break-inside: avoid;
  display: table;
}
.answer .zeta {
  position: relative;
  cursor: pointer;
}
.answer .zeta a {
  display: block;
}
.answer .inner {
  padding-top: 1em;
  border-top: 1px dotted #ddd;
  margin-top: 1em;
}
.questions {
  margin-top: 5em;
}
.questions .alpha {
  border-bottom: 1px solid #ddd;
  padding-bottom: .25em;
}
.questions .body {
  padding-top: 1em;
}



/*
 :::  Docs
-------------------------------------------------- */
.docs-index-list li {
  margin-bottom: 3em;
}
.docs-icon:before {
  content: '';
  position: relative;
  top: .4em;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  margin-right: .5em;
  background-size: 1.25em 1.25em;
  background-image: url(../images/docs.svg);
}



/*
 :::  Further reading [Docs]
-------------------------------------------------- */
.further-reading {
  margin-top: 3em;
  padding-top: 2em;
  border-top: 2px solid #ddd;
}
@media screen and (max-width: 50em) {
  .further-reading {
    padding-bottom: 2em;
    border-bottom: 2px solid #ddd;
  }
}



/*
 :::  Table of contents [Docs]
-------------------------------------------------- */
ul.toc {
  margin: 0;
  counter-reset: count;
  border: 1px solid #ddd;
  border-bottom: 0;
}
.toc li {
  list-style: none;
  counter-increment: count;
}
.toc a {
  position: relative;
  display: block;
  border-bottom: 1px solid #ddd;
  padding: .75em 0 .75em 3em;
  line-height: 1.5em;
  font-size: .9em;
}
.toc a:hover {
  border-color: #ddd;
}
.toc a:after {
  position: absolute;
  right: 1em;
  content: '#';
  color: #999;
  font-weight: 300;
}
.toc a:before {
  position: absolute;
  left: 1em;
  content: counter(count, decimal-leading-zero);
  color: #999;
  font-weight: 300;
}



/*
 :::  Breadcrumb [docs]
-------------------------------------------------- */
.breadcrumb {
  margin-bottom: 1.5em;
  border-bottom: 1px solid #ddd;
}
.breadcrumb li {
  display: inline-block;
  margin-right: 2em;
}
.breadcrumb a {
  display: block;
  position: relative;
  padding: .75em 0;
  font-weight: 600;
}
.breadcrumb a:after {
  content: "›";
  position: absolute;
  top: .3em;
  right: -.75em;
  font-size: 1.5em;
  font-weight: 300;
  color: #999;
}
.breadcrumb .is-active a:after {
  display: none;
}



/*
 :::  Submenu [docs]
-------------------------------------------------- */
.submenu {
  margin-top: 1.5em;
  margin-bottom: -3.1em;
  border-top: 2px solid red;
}
.submenu a {
  display: block;
  padding: 1em 0;
  border-bottom: 1px solid #ddd;
}
.submenu a:hover,
.submenu .is-active {
  color: red;
}
.submenu ul ul a {
  padding-left: 1.25em;
}
.submenu ul ul ul a {
  padding-left: 2.5em;
  color: #777;
}
.submenu ul ul ul ul a {
  padding-left: 3.75em;
  background: #f5f5f5;
}
.submenu > ul > li > a {
  font-weight: 600;
}
@media screen and (min-width: 47em) {
  .submenu {
    margin-top: 0;
    margin-bottom: 3em;
    border-top: 0;
  }
}



/*
 :::  Search [Docs]
-------------------------------------------------- */
.search-form {
  position: relative;
  padding: 1.5em 0 3em;
}
.search-form input {
  position: relative;
  width: 100%;
  font-size: 1.2em;
  padding: .5em 1em;
  border: 2px solid #ddd;
  background: none;
  font-family: inherit;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.search-form:after {
  position: absolute;
  content: "";
  top: 1.5em;
  right: .25em;
  width: 3em;
  height: 3em;
  background-image: url(../images/search.svg);
  background-position: center center;
  background-size: 1.25em 1.25em;
}
.search-form input:focus {
  outline: 0;
  border-color: #aaa;
}

.search-list li {
  border-top: 1px solid #ddd;
  padding: 1em 0;
}
.search-list .delta {
  font-size: 1em;
}
.search-list-excerpt {
  font-style: italic;
  margin-bottom: 1em;
}
.search-list-crumb a {
  position: relative;
  display: inline-block;
  padding: 0 1.5em 0 0;
  font-size: .8em;
  color: #777;
}
.search-list-crumb a:hover {
  color: #000;
}
.search-list-crumb a:after {
  position: absolute;
  content: attr(data-separator);
  font-size: 1.5em;
  right: .4em;
  top: -.05em;
}

.autocomplete {
  z-index: 1000;
  border-bottom: 1px solid #ddd;
}
.autocomplete button {
  display: block;
  width: 100%;
  text-align: left;
  border: 0;
  cursor: pointer;
  padding: .75em 1.2em;
  border-bottom: 1px dashed #ddd;
  color: #000;
  background: none;
  font-family: inherit;
  font-size: 1em;
}
.autocomplete button:last-child {
  border: none;
}
.autocomplete button strong {
  display: block;
}
.autocomplete button small {
  color: #777;
}
.autocomplete button:focus {
  outline: 0;
  color: red;
}
.autocomplete button:focus small {
  color: #000;
}
.autocomplete button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.autocomplete button strong {
}
.autocomplete button:focus strong {
  color: red;
}



/*
 :::  Languages [Docs]
-------------------------------------------------- */
.docs-languages dd span {
  color: #888;
}



/*
 :::  Cheatsheet [Docs]
-------------------------------------------------- */
.cheatsheet .text {
  border-top: 1px solid #ddd;
  margin-top: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.cheatsheet .text p {
  font-size: 80%;
  color: #777;
}
.cheatsheet .text h3 {
  font-size: 1rem;
  font-weight: 600;
}
.cheatsheet-grid-item {
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  -o-column-break-inside: avoid;
  column-break-inside: avoid;
  display: table;
}
@media screen and (min-width: 35em) {
  .cheatsheet-grid {
    -webkit-column-gap: 3em;
    -moz-column-gap: 3em;
    column-gap: 3em;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-fill: balance;
    -moz-column-fill: balance;
    column-fill: balance;
    -webkit-column-rule: 1px solid #ddd;
    -moz-column-rule: 1px solid #ddd;
    column-rule: 1px solid #ddd;
  }
}
@media screen and (min-width: 55em) {
  .cheatsheet-grid {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
  }
}


/*
 :::  Downloads
-------------------------------------------------- */
.downloads .section {
  padding-bottom: 1.5em;
}
.downloads .section:last-child {
  border: 0;
  padding: 0;
}
.download-list li {
  position: relative;
  padding: 0 0 0 4.5em;
  margin-bottom: 1.5em;
}
.download-list a:after {
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  margin-top: -1.5em;
  width: 3.25em;
  height: 3.25em;
  border-radius: 50%;
  background: #000 url(../images/download.svg) no-repeat center center;
  background-size: 1.25em;
}
.download-list p {
  color: #777;
}



/*
 :::  Downloads single view
-------------------------------------------------- */
.subtitle {
  color: #999;
}
.download article .text {
  padding-top: 2em;
  margin-top: 20px;
  border-top: 1px solid #ddd;
}
.download img {
  margin-top: 2em;
}
.download-meta ul {
  margin: 20px 0;
  padding: 1em 0;
  list-style: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.download-meta li {
  padding: 0.5em 0;
}
.download-meta li:before {
  content: '';
  height: 12px;
  width: 6px;
  display: inline-block;
  margin-right: .5em;
  background-color: red;
  transition: all .5s;
}
.download-meta li:hover:before {
  background-color: #222;
  width: 18px;
}
.download-meta small {
  display: block;
  margin-top: 2em;
  color: #999;
}
.download-meta small a {
  color: #999;
}
.download-meta small a:hover {
  color: red;
}



/*
 :::  Sections
-------------------------------------------------- */
.section {
  margin-bottom: 3em;
  border-bottom: 1px solid #ddd;
}
.section.last {
  margin-bottom: 0;
  border-bottom: 0;
}
.section .beta {
  padding-bottom: 1em;
}
.read-more {
  color: red;
  white-space: nowrap;
}
.read-more:hover {
  color: #222;
}




/*
 :::  Article overview
-------------------------------------------------- */
.article-list li {
  position: relative;
  border-bottom: 1px solid #ddd;
  padding: 0 4em 1em 0;
  margin-bottom: 1em;
}



/*
 :::  Tag results
-------------------------------------------------- */
.blog h1 {
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #ddd;
}
.blog h1 mark {
  background: none;
}



/*
 :::  Article date
-------------------------------------------------- */
.article-date {
  position: relative;
  display: block;
  right: auto;
  line-height: 1.5em;
  margin-top: .5em;
}
.article-date .month {
  color: red;
}
@media only screen and (min-width : 47em) {
  .article-date {
    position: absolute;
    top: -.25em;
    right: 0;
    text-align: right;
    margin-top: 0;
  }
  .article-date .month {
    display: block;
  }
}



/*
 :::  Article view
-------------------------------------------------- */
.blogarticle article {
  position: relative;
}
.blogarticle .article-body {
  margin-bottom: 5em;
}
.blogarticle article header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
}
@media only screen and (min-width : 47em) {
  .blogarticle article header {
    padding-right: 4em;
  }
}

/**
  Disqus
*/
.disqus {
  margin-top: 3em;
  padding-top: 3em;
  border-top: 1px dashed #ddd;
}


/*
 :::  Article tags
-------------------------------------------------- */
.tags .delta {
  border-bottom: 1px solid #ddd;
  margin-top: 2em;
  padding-bottom: 1em;
  margin-bottom: .5em;
}



/*
 :::  Sidebar
-------------------------------------------------- */
.sidebar li {
  padding: 0 0 .5em;
  margin-bottom: .5em;
  border-bottom: 1px solid #ddd;
  list-style: none;
  line-height: 1.5em;
}
.sidebar a {
  position: relative;
  display: block;
  padding-left: 2em;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.sidebar small {
  position: absolute;
  left: 0;
  top: 0;
  width: 2em;
  text-align: left;
  color: red;
}



/*
 :::  Try → process
-------------------------------------------------- */
.try-process {
  margin-top: 50px;
}
.try-process p {
  padding: 1em 0;
}
.try-process h2 {
  position: relative;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
}
.try-process h2:after {
  content: '→';
  position: absolute;
  right: 0;
  font-weight: 400;
  color: #999;
}
.try-process li:last-child h2:after {
  content: '!';
}



/*
 :::  Buy
-------------------------------------------------- */
.buy-section {
  position: relative;
  margin-bottom: 3em;
}
.buy-section.col-3-6 {
  padding-right: 0;
}
.buy-section h3 {
  margin-bottom: 0;
}
.buy-section h3 a,
.buy-section h4 a {
  border-bottom: 0;
}
.buy-section h4 a:hover {
  color: #000;
}
.buy-section h4 {
  font-size: 1.25em;
}
.buy-section h4 small {
  font-weight: 400;
  color: #999;
  font-size: .7em;
}
.buy-section .btn {
  background: #000;
  color: #fff;
}
.buy-section ul {
  margin-left: 0;
  border-top: 1px solid #ddd;
}
.buy-section li {
  list-style: none;
  padding: .5em 0;
  border-bottom: 1px solid #ddd;
  font-style: italic;
}

.buy .section {
  padding-bottom: 3em;
  margin-bottom: 4.5em;
  border-bottom: 2px solid #ddd;
}
.buy .section.last {
  border-bottom: 0;
  margin-bottom: 0;
}

.text .upgrade-list {
  margin: 0;
  margin-bottom: 1.5em;
  border-top: 1px solid #ddd;
}
.text .upgrade-list li {
  list-style: none;
}
.text .upgrade-list a {
  display: block;
  border-bottom: 1px solid #ddd;
  padding: .5em 0;
}
.text .upgrade-list i {
  color: red;
}
.text .upgrade-list small {
  float: right;
  font-size: 1em;
  font-weight: 600;
  color: red;
}